body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cuadro{
    background-color: #A2A1A1;
}
#p1{
background-color: #DE6C88;
}
#p2{
    background-color: #D12C40;
}
#p3{
    background-color: #F7EF8B;
}